@use 'variaveis';

.header {
    position: sticky;
    right: 0;
    z-index: 1;
    //background-color: variaveis.$headerBgColor;
    &__content {
        display: flex;
        padding: 18px;
        .logo {
            height: 28px;
            margin: 6px;
        }
    }
}