@use 'variaveis';

.hero {
    padding: 4vw;
    margin-top: -10vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/background_image.jpg);

    @media (max-width: 768px) {
        padding: 0;
        margin-top: -20vw;
        background-size: contain;
        height: 200px;
        min-height: 270px;
        background-color: variaveis.$bgColor2;
    }

    &__content {
        height: 600px;
        position: relative;

        @media (max-width: 768px) {
            height: 272px;
        }

        &__title {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 520px;

            @media (max-width: 768px) {
                top: 50%;
                right: 9%;

                h1 {
                    font-size: 18px;
                }
    
                p {
                    font-size: 14px;
                }
            }
        }

        &__items {
            position: absolute;
            right: 2%;

            :first-child {
                margin-top: 40px;
            }

            @media (max-width: 768px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2px;
                bottom: 0;
                right: 8%;
                
                :first-child {
                    margin-top: 0;
                }
            }

            video {
                display: flex;
                flex-direction: column;
                margin-bottom: 12px;
                width: 260px;

                @media (max-width: 768px) {
                    width: 116px;
                    margin-bottom: 0;
                }

            }
        }
    }
}