@use 'hero';
@use 'header';
@use 'variaveis';
@use 'synopsis';
@use 'ghost';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

body {
    background-color: variaveis.$bgColor2;
    font-family: Ghost, sans-serif;
}

@mixin mix($fontSize: 28px) {
    font-family: 'Cinzel Decorative', cursive;
    font-size: $fontSize;
    background: -webkit-linear-gradient(variaveis.$colorMix1, variaveis.$colorMix2, variaveis.$colorMix3, variaveis.$colorMix4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text($fontSize) {
    font-size: $fontSize;
    font-family: 'Cinzel Decorative', cursive;
    color: #8f8677;
    font-weight: 600;
}

.text--small {
   @include text(10px)
}

.text {
    @include text(12px)
}

.text--big {
    @include text(20px)
}

.title--small {
   @include text(10px)
}

.title {
    @include text(12px)
}

.title--big {
    @include text(30px)
}

.text--mix {
    @include mix(16)
}

.text--mix--big {
    @include mix;
}

.title--mix {
   @include mix(56px);
}
